<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Story Cover.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
				<key>dateExpires</key>
				<string>20/06/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>158</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Smartlook.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iCarousel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>567FB03662E092FE0A57D8A5A2C7088B63033E90</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4TH5BY4R5W</string>
						<key>name</key>
						<string>Dilawer Hussain</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4TH5BY4R5W.com.tbox.storycoverex</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4TH5BY4R5W</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Story Cover.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2b6ba8ad-404a-44c5-b620-1b30430ecead</string>
				<key>dateExpires</key>
				<string>20/06/2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.tbox.storycoverex</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4TH5BY4R5W</string>
				<key>name</key>
				<string>Dilawer Hussain</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
