<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxZhSZB2-f38-eJ1c0s3FBM47Xgpxgvk0</string>
	<key>GCM_SENDER_ID</key>
	<string>558680556110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahabidrees.Rexix</string>
	<key>PROJECT_ID</key>
	<string>rexix-e63a0</string>
	<key>STORAGE_BUCKET</key>
	<string>rexix-e63a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558680556110:ios:8b9fbe80ae840c4fbcb91f</string>
</dict>
</plist>